{% extends 'base.html' %}

{% block header %}
    <h1 class="padding-bottom-l">{% block title %}Come si Acquista{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>I pagamenti degli ordini avvengono con il metodo del <strong>prepagato</strong>.</p>
<p>Cosa significa?</p>
<p>Abbiamo aperto un conto corrente presso Banca di Credito Cooperativo
Romagnolo BCC di Cesena e Gatteo Società Cooperativa (al punto 1, di seguito,
troverete le coordinate del conto.</p>
<p>Ogni gasista versa una somma nel conto corrente. L'importo è a discrezione del singolo.</p>
<p>Il gasista non paga mai in contanti: l'importo che spende viene automaticamente detratto dal suo credito al momento dell'ordine.</p>
<p>Un esempio: io verso oggi 100 euro nel nostro conto corrente a mio nome.</p>
<p>Acquisto 11 euro di formaggi, 4 euro di pane e 3 euro di miele.</p>
<p>Quando vado a ritirare i prodotti non ho bisogno di pagare.</p>
<p>In credito sul sito non avrò più 100 euro, ma 82 euro (100-18). E così via di ordine in ordine.</p>
<p>I debiti vengono infatti scalati al momento dell'ordine, prima del ritiro della merce.</p>
<p>Questo per essere sicuri di avere i soldi per pagare i fornitori senza che gli incaricati a fare i bonifici siano mai costretti a dovere anticipare somme proprie.</p>
<p>Quando il costo della merce consegnata differisce dall'ordine, il referente fa una rettifica, e il credito residuo viene pertanto corretto.</p>
<p>Si invitano comunque i gasisti a tenere sotto controllo la situazione del loro credito; sviste segnalate a distanza di troppo tempo potrebbero essere difficili da gestire.</p>
<p>Quando mi accorgo che i soldi stanno finendo (vedi punto 3) effettuo un altro versamento.</p>
<p><strong>Attenzione!</strong> Ricordatevi che da quando fate il bonifico al momento nel quale troverete i soldi accreditati sul conto GAS <strong>possono passare anche diversi giorni (fino a 1 settimana)</strong> quindi calcolate bene i tempi se avete un ordine in programma.</p>
<p>Questo è il semplice funzionamento, ovvero ciò che ogni gasista ha bisogno di sapere per aderire al prepagato. Ciò che il singolo gasista che acquista deve fare è semplicemente versare soldi nel conto corrente e sincerarsi che il suo saldo sia sempre più o meno sufficiente per far fronte ai suoi acquisti.</p>
<p>Il gas ha un costo. Per questo motivo ogni gasista versa {{ associazione.regole.quota_associativa_annuale }} euro di quota associativa annuale. La quota associativa viene utilizzata per coprire i costi di gestione del conto, l'hosting del sito, l'acquisto di attrezzature da tenere al Magazzino Parallelo (bilancia, frigorifero, ecc).</p>
{% if associazione.regole.tessera_ente_terzo.richiesta %}
<p>Il Magazzino Parallelo è un circolo ARCI. Per poter accedere e per potersi iscrivere al GAS è quindi necessario avere la tessera {{ associazione.regole.tessera_ente_terzo.nome_ente }}.</p>
{% endif %}
<p>{{ associazione.identita.nome }}, {{ associazione.identita.indirizzo }} C.F. {{ associazione.identita.codice_fiscale }}</p>
<p>Un paio di precisazioni:</p>
<p><strong>1. COME POSSO VERSARE I SOLDI NEL CONTO CORRENTE?</strong></p>
<p>Due possibilità:</p>

<ol style="list-style-type:lower-alpha">
  <li>Si fa direttamente un bonifico bancario. Troverete di seguito le coordinate. E' <strong><u>INDISPENSABILE</u></strong> specificare, nella causale del versamento, chi fa il versamento in modo che chi gestisce i conti sappia chi ha versato i soldi.</li>
  <li>Se non si ha la possibilità di fare un bonifico si chiede ad un gasista di farlo per noi.</li>
</ol>

<p>Come già specificato l'importo da versare ogni volta è a discrezione del gasista. Ci sarà chi preferisce versare 500 euro e non pensarci per un bel po' e chi preferirà versare 50 o 100 euro alla volta. Per evitare di sovraccaricare le persone che gestiscono i conti e quindi che annotano entrate e uscite sarebbe buona cosa preferire un versamento da 50 euro piuttosto che 5 versamenti da 10 euro.</p>
<p>{{ associazione.bancari.banca }}</p>
<p>Intestazione conto: {{ associazione.bancari.intestazione }}</p>
<p>IBAN: {{ associazione.bancari.iban }}</p>
<div class="table-responsive">
<table>
  <tr>
    <td rowspan=2><b>DETTAGLIO</b></td>
    <td>STATO</td> <td>CIN</td> <td>INT.CIN</td> <td>ABI</td> <td>CAB</td> <td>NUM. CONTO</td>
  </tr>
  <tr>
    <td>{{ associazione.bancari.iban[0:2] }}</td>
    <td>{{ associazione.bancari.iban[2:4] }}</td>
    <td>{{ associazione.bancari.iban[4:5] }}</td>
    <td>{{ associazione.bancari.iban[5:10] }}</td>
    <td>{{ associazione.bancari.iban[10:15] }}</td>
    <td>{{ associazione.bancari.iban[15:27] }}</td>
  </tr>
</table>
</div>
<strong>{{ associazione.bancari.banca }}</strong>
<p><strong><u>CAUSALE</u></strong>: <b>Nome Cognome</b> del gasista che effettua il versamento (il nome deve essere del gasista che risulta iscritto, non di un
parente o dell'intestatario del conto) <b>contributo per attività mutuali.</b></p>
<p><strong>2. CHI GESTISCE I MIEI SOLDI?</strong></p>
<p>Le persone che possono avere accesso diretto al conto sono Franco, Cristina
ed Erika (presidente dell'Associazione). Sono loro che terranno aggiornati i conti in base alle spese del singolo gasista e che pagheranno i produttori.</p>
<p><strong>3. COME FACCIO A SAPERE QUANTI SOLDI MI SONO RIMASTI IN credito sul sito?</strong></p>
<p>Per avere il proprio estratto conto, saldo compreso, si accede, dal sito, alla voce Cassa.</p>
<p>Per vedere solo il saldo, basta accedere alla voce Ordina.</p>
<p><strong>4. COSA SUCCEDE SE NON HO DISPONIBILITA' DI SOLDI NEL CONTO?</strong></p>
<p>Se non si ha disponibilità sul conto corrente non è possibile effettuare acquisti. Se avete urgenza di comprare qualcosa e vi trovate senza disponibilità sul conto potete chiedere ad un altro gasista (via mail o a voce) di comprare a nome vostro. Oppure di farvi un prestito: dal sito, alla voce <b>Giroconto</b>, potete trasferire credito direttamente da un utente all'altro, senza bisogno di passare da chi gestisce i conti. Una volta che avrete effettuato un nuovo versamento potrete restituire il prestito allo stesso modo, con un nuovo giroconto verso chi ve lo aveva anticipato.</p>
<p><strong>IMPORTANTE:</strong> l'adesione al prepagato è condizione necessaria per poter effettuare gli acquisti.</p>

{% endblock %}
