{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}FAQ - Domande Frequenti{% endblock %}</h1>
{% endblock %}

{% block content %}
<h3>Istruzioni</h3>
<p>
<a class="color-info font-weight-bold" href="{{ url_for('istruzioni.acquisto')
          }}">Come si acquista</a> Istruzioni scritte su come effettuare un acquisto.
</p>

{% if contenuto_link_esterni %}
<div style="white-space: pre-line">{{ contenuto_link_esterni | urlize }}</div>
{% endif %}
{% if g.user and 'moderatore' in g.ruoli %}
<p><a class="button button-xs button-border" href="{{
          url_for('istruzioni.modifica', slug='list_link_esterni') }}">Modifica Link</a></p>
{% endif %}

<div class="space-m"></div>

{% if g.user and ('moderatore' in g.ruoli or 'referente' in g.ruoli) %}

<h3>Video Tutorial</h3>
{% if contenuto_video_tutorial %}
<div style="white-space: pre-line">{{ contenuto_video_tutorial | urlize }}</div>
{% else %}
<p>Nessun video tutorial ancora configurato.</p>
{% endif %}
{% if 'moderatore' in g.ruoli %}
<p><a class="button button-xs button-border" href="{{
          url_for('istruzioni.modifica', slug='list_video_tutorial') }}">Modifica Video Tutorial</a></p>
{% endif %}

{% endif %}

{% endblock %}
