{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Adesione Tesseramento Anno {{ "%i" | format(campagna.anno) }}/{{ "%i" | format(campagna.anno + 1) }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('auth.effettua_tesseramento') }}" method="post">{{ csrf_field() }}
  {% if associazione.regole.tessera_ente_terzo.richiesta %}
  <p class="field">
  <label for="codice_arci">Codice Tessera {{ associazione.regole.tessera_ente_terzo.nome_ente }}</label>
  <input type="text" id="codice_arci" name="codice_arci" />
  <small>Campo facoltativo: se possiedi già una tessera {{ associazione.regole.tessera_ente_terzo.nome_ente }} (procurata autonomamente, non tramite questo sito), inserisci qui il codice solo per tenerne traccia. Non è collegato al pagamento del tesseramento qui sotto.</small>
  </p>
  {% endif %}
  <p class="font-size-l">Facendo click sul bottone aderisci al pagamento di <b>{{ campagna.quota|abs }} &euro;</b>
  per il tesseramento.</p>
  <button class="button button-border button-warning">Aderisci ed Effettua Pagamento</button>
</form>
{% endblock %}
