{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Tessere {{ associazione.regole.tessera_ente_terzo.nome_ente }}{% endblock %}</h1>
{% endblock %}

{% block content %}

<ul style="list-style-type: '\1F464'">
{% for utente in utenti %}
<li id="utiu" class="{{ loop.cycle('', 'backgroud-light-50') }}">
  [ <b>{{ utente.codice }}</b> ] {{ utente | utente }}
</li>
{% else %}
    Non sono presenti tesserati {{ associazione.regole.tessera_ente_terzo.nome_ente }}.
{% endfor %}
</ul>

<a class="button button-warning button-border" href="{{
          url_for('auth.download_ente_terzo') }}" >Scarica Documento Riassuntivo</a>

{% endblock %}
