{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gestione Utente{% endblock %}</h1>
  <script>
    window.onload = function() {
      document.getElementById('group-show').classList.remove('display-none');
    }
  function show() {
    var x = document.getElementById('password');
    x.type = (x.type === 'password') ? 'text' : 'password';
  }
  </script>
{% endblock %}

{% block content %}

<div class="box-shadow-m padding-s">
  <h3>Ruoli e Permessi</h3>
  {% if ruoli_utente %}
    <p><b>Associati:</b></p>
    <ul>
      {% for ruolo in ruoli_utente %}
      <li>
        <div class="group group-m">
          <ul>
            <li>{{ ruolo.nome }}</li>
            <li>
              <form method="post" style="display: inline"
                    action="{{ url_for('auth.remove_role', id_ruolo=ruolo.id_ruolo, id_utente=utente.id) }}"
                    onsubmit="return confirm('Rimuovere il ruolo {{ ruolo.nome }}?');">
                <button type="submit" class="button button-xxs button-square button-error button-border" aria-label="Rimuovi Ruolo">&#128465;</button>
              </form>
            </li>
          </ul>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post">
    <p class="field">
    <label class="select" for="id_ruolo">
      <select name="id_ruolo" autocomplete="off">
        <option></option>
        {% for ruolo in ruoli %}
        <option value="{{ ruolo.id }}">{{ ['[ ', ruolo.ruolo, ' ] ', ruolo.descrizione] | join }}</option>
        {% endfor %}
      </select>
    </label>
    </p>
    <p class="field">
      <button type="submit" class="button button-warning button-border">Associa Ruolo</button>
    </p>
  </form>
</div>

<br>

<div class="box-shadow-m padding-s">
  <h3>Referenze</h3>
  {% if referenze %}
  <ul>
    {% for referenza in referenze %}
      <li>
        <div class="group group-m">
          <ul>
            <li>{{ referenza.nome }}</li>
            <li>
              <form method="post" style="display: inline"
                    action="{{ url_for('auth.remove_reference', id_produttore=referenza.id_produttore, id_utente=utente.id) }}"
                    onsubmit="return confirm('Rimuovere la referenza {{ referenza.nome }}?');">
                <button type="submit" class="button button-xxs button-square button-error button-border" aria-label="Rimuovi Referenza">&#128465;</button>
              </form>
            </li>
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  <form method="post">
    <p class="field">
    <label class="select" for="id_produttore">
      <select name="id_produttore" autocomplete="off">
        <option></option>
        {% for produttore in produttori %}
        <option value="{{ produttore.id }}">{{ produttore.nome }}</option>
        {% endfor %}
      </select>
    </label>
    </p>
    <p class="field">
      <button type="submit" class="button button-warning button-border">Assegna
      Referenza Produttore</button>
    </p>
  </form>
</div>

<br>

<div class="box-shadow-m padding-s">
  <h3>Informazioni Personali</h3>
  <form method="post">
    <p class="field">
      <label for="username">Username</label>
      <input name="username" id="username" value="{{ request.form.username if request.form else utente.username }}" />
    </p>
    <p class="field">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" minlength="5"/>
      <div class="group group-xs display-none" id="group-show">
        <ul>
          <li class="display-flex" ><input type="checkbox" onclick="show()" /></li>
          <li><label for="show">Vedi Password</label></li>
        </ul>
      </div>
    </p>
    <p class="field">
      <label for="email">Email</label>
      <input name="email" id="email" placeholder="Inserire l'Email..." value="{{
                   request.form.email if request.form else utente.email if
                   utente.email }}" />
    </p>
    <p class="field">
      <label for="telefono">Telefono</label>
      <input name="telefono" id="telefono" placeholder="Inserire il Telefono..."
                                           value="{{ request.form.telefono if
                                                  request.form else
                                                  utente.telefono if
                                                  utente.telefono }}" />
    </p>
    <p class="field">
      <label for="nome">Nome</label>
      <input name="nome" id="nome" placeholder="Inserire il Nome..." value="{{
                   request.form.nome if request.form else utente.nome if utente.nome }}" />
    </p>
    <p class="field">
      <label for="cognome">Cognome</label>
      <input name="cognome" id="cognome" placeholder="Inserire il Cognome..."
                                         value="{{ request.form.cognome if
                                                request.form else utente.cognome
                                                if utente.cognome }}" />
    </p>
    <p class="field">
      <label for="cf">Codice Fiscale</label>
      <input name="cf" id="cf" placeholder="Inserire il Codice Fiscale..." value="{{
                   ( request.form.cf if request.form else utente.cf if
                   utente.cf ) | upper }}" required/>
    </p>
    <p class="field">
      <button type="submit" class="button button-warning button-border">Modifica Informazioni</button>
    </p>
  </form>
</div>

<hr>

  <form action="{{ url_for('auth.toggle_attivo', id_utente=utente.id) }}" method="post">
    {% if utente.attivo %}
    <input class="color-error border-color-error" type="submit" value="Disattiva"
                                                                onclick="return confirm('Sicuro di voler disattivare {{ utente.username }}?');">
    {% else %}
    <input class="color-success border-color-success" type="submit" value="Attiva"
                                                                onclick="return confirm('Sicuro di voler attivare {{ utente.username }}?');">
    {% endif %}
  </form>
{% endblock %}
