{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Reset Password{% endblock %}</h1>
  <script>
  function show() {
    var x = document.getElementById('password');
    var l = document.getElementById('lbltoggle');
    if(x.type === 'password') {
        x.type = 'text';
        l.text = 'Nascondi Password';
    }
    else {
        x.type = 'password';
        l.text = 'Vedi Password';
    }
  }
  function check(input) {
    if (input.value != document.getElementById('password').value)
      input.setCustomValidity('Le password inserite devono corrispondere.');
    else
      input.setCustomValidity('');
  }
  </script>
{% endblock %}

{% block content %}

<form method="post">{{ csrf_field() }}
  <div class="field">
    <input id="password" type="password" name="password" placeholder="Nuova Password"
                                           minlength="5" required/>
    <a href="#" id="lbltoggle" onclick="show()">Vedi Password</a>
  </div>
  <div class="field">
    <input type="password" name="password-check" oninput="check(this)"
                                           placeholder="Conferma Nuova Password"
                                           minlength="5" required/>
  </div>
  <div class="field">
    <button class="button button-border button-warning">Reset Password</button>
  </div>
</form>

{% endblock %}
