{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}G.A.S. Malatesta, Chi Siamo{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
Quando un gruppo di persone si incontra per riflettere sui propri consumi e decide di fare insieme la spesa utilizzando come criterio guida il concetto di giustizia e solidarietà, nasce un nuovo Gruppo di Acquisto Solidale.
</p>

<p>
Finalità di un GAS è provvedere all’acquisto di beni e servizi cercando di realizzare una concezione più umana dell’economia, cioè più vicina alle esigenze reali dell’uomo e dell’ambiente, formulando un’etica del consumare in modo critico che unisce le persone invece di dividerle, che mette in comune tempo e risorse invece di tenerli separati, che porta alla condivisione invece di rinchiudere ciascuno in un proprio mondo (di consumi).
</p>

<p>
Essere un GAS perciò non vuole dire soltanto risparmiare acquistando in grandi quantitativi, ma soprattutto chiedersi che cosa c’è dietro a un determinato bene di consumo: se chi lo ha prodotto ha rispettato le risorse naturali e le persone che le hanno trasformate; quanto del costo finale serve a pagare il lavoro e quanto invece la pubblicità e la distribuzione; qual è l’impatto sull'ambiente in termini di inquinamento, imballaggio, trasporto... fino a mettere in discussione il concetto stesso di consumo ed il modello di sviluppo che lo sorregge.
</p>

<p>
Per costituire un GAS o per entrare a farne parte non bisogna essere dei "duri e puri" ma prendere coscienza della necessità di cambiare nel piccolo e voler riflettere sull’approccio da avere quando si fa la spesa.
</p>

<p>
I GAS nascono dall’esigenza di cercare una alternativa ad un modo di consumare poco attento; l’obiettivo che va ben oltre i GAS sarebbe in futuro poter fare a meno di questo strumento, quando vi saranno le condizioni per creare un mercato diverso. I GAS sono una possibile risposta alla situazione attuale in cui l’unico dovere è consumare per essere felici.
</p>

<p>
Da queste considerazioni è nato a Cesena il GAS "Dai GAS Malatesta". Un gruppo di famiglie e Amici che ha deciso di fare suoi i principi ispiratori di un Gruppo di Acquisto Solidale. Da giugno 2013 il GAS ha deciso di costituirsi in Associazione: il successo dell’iniziativa comporta infatti acquisti annuali di importo economico non più compatibile con un gruppo informale. Per evitare burocrazie eccessive abbiamo comunque fatto una scelta sobria: non costituire una associazione ex novo, ma diventare un sottogruppo del Circolo Magazzino Parallelo che già ospita i nostri incontri da alcuni anni. Potete trovare sul sito il Regolamento del nostro GAS.
</p>

<p>
I gruppi d’acquisto non sono soli: sono uniti da una rete di collegamento che ha
lo scopo di scambiare le informazioni tra i gruppi e diffonderne l’idea. Per
informazioni sulla rete GAS: <a href="https://e-circles.org/">https://e-circles.org/</a>
</p>
{% endblock %}
