{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Contatti{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Per qualsiasi informazione puoi scriverci una email a: <b>{{ associazione.contatti.email }}</b></p>
<p>Per problemi informatici inerenti al sito, scrivici a: <b>{{ associazione.contatti.email_tecnico }}</b></p>

<p>Per richiedere di aggiungere una tematica nell'ordine del giorno delle
riunioni mensili, oltre che a <b>infogas</b> è possibile fare richiesta
direttamente nel gruppo WhatsApp.</p>

{% endblock %}

