{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Vademecum Presidianti{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>Ricordando che il Gas Malatesta  è fondato sul volontariato, il regolamento prevede tuttavia un minimo di 1+1 ore annuali che ogni membro del gruppo senza alcuna incarico dedichi a copertura dei presidi, un compito semplice ma importante derivante da specifiche esigenze in materia di accessi, gestione merce, avvisi e decoro ambienti di consegna.</p>

Pertanto si stila qui di seguito un <i>Vademecum</i> a cui ogni Presidiante dovrà strettamente attenersi.

Il Presidiante deve:

<ol>
  <li>Pianificare le date dei 2 turni di presidio e coprirle dalle 19 alle 20 segnalando prima possibile eventuali assenze per cercare sostituzioni.</li>
  <li>Durante il presidio fare in modo che sia sempre presente almeno un presidiante nello stanzino.</li>
  <li>Prendere visione a grandi linee della situazione prodotti (tipo una cassa mancante rispetto al totale del documento rilasciato dal produttore o eventuali segnalazioni di Gasisti che ritireranno in ritardo o faranno ritirare da terzi il proprio ordine, ecc...).</li>
  <li>In caso di restrizioni legislative dovute a Covid-19 far rispettare la normativa vigente di distanziamento facendo accedere nello stanzino un Gasista per volta. Il presidiante può soggettivamente far valere la regola a prescindere dalla norma, per consegnare con la massima precisione l' ordine ad ogni singolo Gasista. </li>
  <li>Effettuare col Gasista stesso l' esatta consegna dell' ordine nè più nè  meno di quanto spettante.</li>
  <li>A fine orario di presidio  prendere visione dei prodotti rimanenti e dei nominativi dei Gasisti che non hanno ritirato, farne un' elenco e inviarlo via mail al gruppo dai-gas-malatesta@googlegroups.com </li>
  <li>Infine lasciare lo stanzino completamente sgombro, ovvero:

    <ol type="A">
      <li>Togliere ogni contenitore (casse da depositare nell'apposito angolo esterno del Magazzino, imballaggi da gettare differenziati nei vicini cassonetti esterni.</li>
      <li>Se restano prodotti a lunga conservazione (olio, pasta, conserve, ecc...) depositarli nell'armadietto.</li>
      <li>Se restano prodotti freschi (Carne, latticini, verdure, ecc...)  non lasciarli assolutamente nello stanzino ma portarli a casa.</li>
      <li>Spegnere e chiudere tutto quanto.</li>
    </ol>
  </li>
  <li> Il giorno dopo, in assenza di direttive del Gasista sul prodotto fresco non ritirato la sera prima, sarà discrezionalmente a
    cura del Presidiante decidere se accordare nuove modalità di ritiro o fare un
    uso personale del prodotto.</li>
</ol>

Grazie per la collaborazione.

{% endblock %}


