{% extends '/movimenti/create.html' %}

{% block title %}Giroconto e Movimenti Cassa{% endblock %}
{% block totale %}
      <li>Totale Conto (senza ordini in corso): <strong>{{ "%.2f" | format(totale) if totale else "0"}} &euro;</strong>
{% endblock %}

{% block content %}
<h3>Effettua Giroconto</h3>
<form action="{{ url_for('movimenti.giroconto_utente') }}" method="post">{{ csrf_field() }}

  <div class="field">
   <label class="">Valore in Euro</label>
   <input type="number" step="0.01" min="0" placeholder="0" name="importo" id="importo"
          value="{{ request.form.importo }}"/>
  </div>

  <div class="field">
   <label class="">Breve Descrizione</label>
   <input type="text" name="descrizione" id="descrizione" value="{{ request.form.descrizione }}"/>
  </div>

  <div id="select-verso-utente" class="field">
    <p>Verso l'utente<span id="no-js-span"><i> (da compilare solo per i Giroconti)</i></span>:</p>
    <label class="select" for="select-verso">
      <select name="verso_id" id="select-verso" autocomplete="off">
        <option selected>- - -</option>
        {% for utente in utenti %}
        <option value="{{ utente.id }}">{{ [utente.username, '(', utente.nome or '', utente.cognome or '', ')'] | join(' ') }}</option>
        {% endfor %}
      </select>
    </label>
  </div>

  <div id="select-a-utente" class="field">
    <button class="button button-warning button-border" type="submit">Effettua Giroconto</button>
  </div>
</form>
{% endblock %}
