{% extends 'base.html' %}

{% block header %}
<div class="group group-m group-space-between">
  <ul>
    <li>
      <div class="group group-m">
        <ul>
          <li><h1>{% block title %}Lista Movimenti Cassa{% endblock %}</h1></li>
          <li><a class="button button-warning button-border" href="{{ url_for('movimenti.handle') }}" >Nuovo Movimento</a></li>
        </ul>
      </div>
    </li>
    <li>Totale in cassa (movimenti utenti): <strong>{{ totale }} &euro;</strong><br>
      <small>di cui in transizione (ordini in corso): <strong>{{ "%.2f" | format(totale_ordini_in_corso) }} &euro;</strong></small><br>
      <small>di cui (aggiustamenti): <strong>{{ totale_cassa_aggiustamenti }} &euro;</strong></small>
    </li>
  </ul>
</div>
{% endblock %}

{% block content %}
<form action="{{ url_for('movimenti.list_movimenti_all') }}" method="post"
                                                             class="margin-bottom-l">{{ csrf_field() }}

  <div class="group group-xs group-column">
    <ul>
      {% include 'movimenti/_filtro_date.html' %}
      <li class="border-bottom">
        <div class="group group-xs group-space-between margin-xxs">
          <ul>
            <li>
              <label class="select" for="select-utente">
                <select name="id_utente" id="select-utente" autocomplete="off">
                  <option selected>- - -</option>
                  {% for utente in utenti %}
                  <option value="{{ utente.id }}">{{ [utente.nome or '', utente.cognome or '', '(', utente.username, ')'] | join(' ') }}</option>
                  {% endfor %}
                </select>
              </label>
            </li>
            <li>
              <button type="submit" class="button button-warning
                                            button-border">Filtra Utente</button>
            </li>
          </ul>
        </div>
      </li>
      <li class="border-bottom">
        <div class="group group-xs group-space-between margin-xxs">
          <ul>
            <li>
              <label class="select" for="select-tipologia">
                <select name="tipologia" id="select-tipologia" autocomplete="off">
                  <option selected>- - -</option>
                  {% for tipologia in tipologie_movimenti %}
                  <option value="{{ tipologia.id }}" class="padding-m">{{ tipologia.nome }}</option>
                  {% endfor %}
                </select>
              </label>
            </li>
            <li>
              <button type="submit" class="button button-warning
                            button-border">Filtra Tipologia</button>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <strong>Azioni Rapide:</strong>
        <div class="group group-xs group-wrap-mobile">
          <ul>
            <li><button name="mese" type="submit" class="button button-warning button-border">Ultimo Mese</button></li>
            <li><button name="trimestre" type="submit" class="button button-warning button-border">Ultimo Trimestre</button></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  {# TODO: Aggiungi checkbox per vedere anche gli acquisti, che di default non lo sono #}
</form>

{% if totale_utente %}
<p>Totale portafoglio utente: <b>{{ totale_utente }} &euro;</b></p>
{% endif %}

{% set vista_completa = true %}
{% for movimento in movimenti %}
{% set riga_classe = loop.cycle('','background-light-50') %}
{% include 'movimenti/_riga_movimento.html' %}
{% else %}
Non sono presenti movimenti.
{% endfor %}
{% endblock %}

