{% extends 'base.html' %}

{% block header %}
<div class="group group-m group-space-between">
  <ul>
    <li> <h1>{% block title %}Lista Movimenti{% endblock %}</h1> </li>
    <li>Totale (senza ordini in corso): <strong>{{ totale }} &euro;</strong></li>
  </ul>
</div>
{% endblock %}

{% block content %}
<form action="{{ url_for('movimenti.list_movimenti') }}" method="post">{{ csrf_field() }}

  <div class="group group-xs group-column">
    <ul>
      {% include 'movimenti/_filtro_date.html' %}
      <li>
        <button name="mese" type="submit" class="margin-bottom-xxs button button-warning
                                         button-border">Ultimo Mese</button>
        <button name="trimestre" type="submit" class="button button-warning
                                         button-border">Ultimo Trimestre</button>
      </li>
    </ul>
  </div>


</form>

<hr>

<p>
Per visionare i dettagli degli acquisti, visitare la pagina <a class="button
                                                                      button-warning
                                                                      button-border
                                                                      button-pill
                                                                      button-xxs"
                                                               href="{{
                                                                     url_for('ordini.list_archivio')
                                                                     }}">Storico</a>
</p>

{% for movimento in movimenti %}
{% set riga_classe = loop.cycle('','background-light-50') %}
{% include 'movimenti/_riga_movimento.html' %}
{% else %}
Non sono presenti movimenti.
{% endfor %}
{% endblock %}
