<div class="group group-m group-space-between">
  <ul>
    <li>
      <h3>{% block title %}{{ produttore.nome }}{% endblock %}</h3>
    </li>
    {% if date_ordine %}
      {% if date_ordine.scadenza %}
      <li>Scadenza: <b>{{ date_ordine.scadenza|data }}</b></li>
      {% endif %}
      {% if date_ordine.consegna %}
      <li>Consegna: <b>{{ date_ordine.consegna|data }}</b></li>
      {% endif %}
    {% endif %}
    <li>
      <div class="font-size-xl">Totale Ordini:
        <b>{{ "%.2f" | format(totale) if totale else 0 }} &euro;</b>
      </div>
    </li>
  </ul>
</div>
